@include generic-exports("generic/component/skip-link") {
  .generic-skip-link {
    @include generic-visually-hidden-focusable;
    @include generic-typography-common;
    @include generic-link-style-text;
    @include generic-typography-responsive($size: 16);

    display: block;
    padding: generic-spacing(2) generic-spacing(3);

    // Respect 'display cutout' safe area (avoids notches and rounded corners)
    @supports (padding: unquote("max(calc(0px))")) {
      $padding-safe-area-right: calc(#{generic-spacing(3)} + env(safe-area-inset-right));
      $padding-safe-area-left: calc(#{generic-spacing(3)} + env(safe-area-inset-left));

      // Use max() to pick largest padding, default or with safe area
      // Escaped due to Sass max() vs. CSS native max()
      padding-right: unquote("max(#{generic-spacing(3)}, #{$padding-safe-area-right})");
      padding-left: unquote("max(#{generic-spacing(3)}, #{$padding-safe-area-left})");
    }

    &:focus {
      outline: $generic-focus-width solid $generic-focus-colour;
      outline-offset: 0;
      background-color: $generic-focus-colour;

      // Undo unwanted changes when global styles are enabled
      @if ($generic-global-styles) {
        box-shadow: none;
        text-decoration: underline;
      }
    }
  }
}
