@import "../tag/index";

@include generic-exports("generic/component/phase-banner") {
  .generic-phase-banner {
    padding-top: generic-spacing(2);
    padding-bottom: generic-spacing(2);

    border-bottom: 1px solid $generic-border-colour;
  }

  .generic-phase-banner__content {
    @include generic-font($size: 16);
    @include generic-text-colour;

    display: table;
    margin: 0;
  }

  .generic-phase-banner__content__tag {
    margin-right: generic-spacing(2);
  }

  .generic-phase-banner__text {
    display: table-cell;
    vertical-align: baseline;
  }
}
